<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>paybasz mobil terminál</title>

    <style>
        body {
            background-color: #000;
            color: #FFFFFF;
            text-align: center;
            font-family: sans-serif;
        }
        button {
            background-color: #444444;
            border: 2px solid #FFFFFF;
            color: #FFFFFF;
            font-size: 28px;
            margin: 10px 20px;
            width: 80%;
        }
        input {
            background-color: #444444;
            border: 2px solid #FFFFFF;
            color: #FFFFFF;
            font-size: 28px;
            margin: 10px 20px;
            width: calc(80% - 7px);
            text-align: center;
        }
        h1 {
            text-shadow: 2px 2px 0 #000000;
        }
        h3, h4 {
            font-size: 32px;
            text-shadow: 2px 2px 0 #000000;
        }
    </style>
</head>
<body id="box">

<div class="menu">
    <div class="result">
        <h3 id="scan-line1">...</h3>
        <h4 id="scan-line2"></h4>
        <h4 id="scan-line3"></h4>
        <h4 id="scan-line4"></h4>
    </div>

    <button onclick="initNFC()" id="nfcButton">NFC OFF</button><br>
    <input type="text" id="name" name="name" placeholder="név" onchange="setName()"><br>
    <button onclick="initBalance()">EGYENLEG</button><br>
    <button onclick="initOk()">Vissza</button>
</div>

<script th:inline="javascript">
    const serverUrl = "[[${@environment.getProperty('paybasz.backend.address')}]]";
    const baseUrl = `${serverUrl}/mapi`;

    var name = getCookie("name");
    if(name !== "") {
        document.getElementById("name").value = name;
    }

    function setName() {
        setCookie("name", document.getElementById("name").value)
    }

    function initNFC() {
        setBackground("#000000");
        displayText('NFC: ON');
        nfcListener = async function(x) { };
        try {
            const ndef = new NDEFReader();
            ndef.scan();
            document.getElementById('nfcButton').innerText = "NFC ON";

            ndef.addEventListener("readingerror", () => {
                displayText('Hiba történt');
            });

            ndef.addEventListener("reading", async ({ message, serialNumber }) => {
                const id = serialNumber.toUpperCase().replaceAll(':', '-');
                const hashed = await sha256(id);

                await nfcListener(hashed);
                nfcListener = async function(card) {};
            });
        } catch (error) {
            displayText('Hiba: ' + error);
        }
    }

    function initBalance() {
        setBackground("#000000");
        displayText("EGYENLEG LEKÉRÉSE", "KÉREM A KÁRTYÁT");
        var name = document.getElementById("name").value;
        if(name === "") {
            displayText("EGYENLEG LEKÉRÉSE", "Név megadása kötelező!");
        }

        nfcListener = async function(hashed) {
            displayText('KÉRLEK VÁRJ...');
            nfcListener = async function(x) {};
            await httpFetchData('POST', baseUrl + '/my-balance/', { card: hashed, name: name })
                .then(data => {
                    displayText("EGYENLEG", data);
                    nfcListener = async function(x) {};
                })
                .catch((error) => {
                    displayText("HIBA", error);
                    console.error('Error:', error);
                    nfcListener = async function(x) {};
                });
        }
    }

    function initOk() {
        setBackground("#000000");
        displayText("...");
        nfcListener = async function(x) { };
    }

    function setBackground(color) {
        document.getElementById('box').style.backgroundColor = color;
    }

    function displayText(line1, line2="", line3="", line4="") {
        document.getElementById('scan-line1').innerText = line1;
        document.getElementById('scan-line2').innerText = line2;
        document.getElementById('scan-line3').innerText = line3;
        document.getElementById('scan-line4').innerText = line4;
    }

    async function sha256(message) {
        const msgBuffer = new TextEncoder().encode(message);
        const hashBuffer = await crypto.subtle.digest('SHA-256', msgBuffer);
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
        return hashHex.toUpperCase();
    }

    async function httpFetchData(method = 'POST', url = '', data = {}) {
        const response = await fetch(url, {
            method: method,
            mode: 'cors',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/json;charset=UTF-8'
            },
            body: JSON.stringify(data)
        });
        return response.text();
    }

    function setCookie(cname, cvalue) {
        const d = new Date();
        const exdays = 5;
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>
</body>
</html>
