<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:remove="body" th:replace="~{layout :: head}">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="en" http-equiv="Content-Language">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>paybasz</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
        name="viewport"/>
  <link href="favicon.ico" rel="icon">

  <meta content="no" name="msapplication-tap-highlight">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <link href="/custom-style.css" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-gray">
  <div class="app-main">
    <div th:replace="~{layout :: menu('user')}"></div>

    <div class="app-main__outer">
      <div class="app-main__inner">
        <div th:replace="~{layout :: menuMobile}"></div>
        <div class="app-header mt-lg-5">
          <div class="page-title-heading" th:if="${acc == null || acc.name == null}">
            <span class="material-icons fix-material-icons">add_box</span> Felhasználó regisztrálása
          </div>
          <div class="page-title-heading" th:unless="${acc == null || acc.name == null}">
            <span class="material-icons fix-material-icons">create</span> Felhasználó módosítása
          </div>
          <div class="app-header-right">

          </div>
          <div class="app-header-overlay d-none animated fadeIn"></div>
        </div>
        <div class="app-inner-layout app-inner-layout-page">

          <div class="app-inner-layout__wrapper">
            <div class="app-inner-layout__content">
              <div class="tab-content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-12 col-lg-6">
                      <div class="main-card mb-3 card">
                        <div class="card-body">
                          <h5 class="card-title">Felhasználó</h5>
                          <form class="" method="post"
                                th:action="|/admin/${createMode ? 'create' : 'modify' }-account|">
                            <input name="id" th:unless="${acc == null || acc.name == null}"
                                   th:value="${acc?.getId()}"
                                   type="hidden"/>
                            <div class="position-relative form-group"><label class=""
                                                                             for="name">Név</label><input
                                autocomplete="off" class="form-control" id="name"
                                name="name" placeholder=""
                                spellcheck="false" th:value="${acc?.getName()}"
                                type="text"></div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="email">Email</label><input
                                autocomplete="off" class="form-control" id="email"
                                name="email" placeholder=""
                                spellcheck="false" th:value="${acc?.getEmail()}"
                                type="email"></div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="phone">Telefon</label><input
                                autocomplete="off" class="form-control" id="phone"
                                name="phone"
                                placeholder="+36301234567" spellcheck="false"
                                th:value="${acc?.getPhone()}" type="text"></div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="card">Kártya</label><input
                                autocomplete="off" class="form-control" id="card"
                                name="card" placeholder="64 hosszú kártya azonosító"
                                spellcheck="false"
                                th:value="${acc?.getCard()}" type="text"></div>
                            <div class="text-danger mb-2"
                                 th:if="${error != null && error == T(hu.schbme.paybasz.station.controller.AdminController).DUPLICATE_CARD_ERROR}">
                              Ez a kártya már foglalt
                            </div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="loan">Hitelkeret</label>
                              <div class="input-group">
                                <input autocomplete="off" class="form-control" id="loan"
                                       max="500000" min="0" name="loan"
                                       placeholder="" spellcheck="false" step="1"
                                       th:value="${acc?.getMaxLoan() ?: 0}"
                                       type="number"
                                       value="0">
                                <div class="input-group-append"><span
                                    class="input-group-text bg-light">JMF</span>
                                </div>
                              </div>
                            </div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="comment">Megjegyzés</label><input
                                autocomplete="off" class="form-control" id="comment"
                                name="comment" placeholder=""
                                spellcheck="false" th:value="${acc?.getComment()}"
                                type="text"></div>
                            <input class="mt-1 btn btn-info" th:if="${createMode}"
                                   type="submit" value="REGISZTRÁCIÓ"/>
                            <input class="mt-1 btn btn-info" th:unless="${createMode}"
                                   type="submit" value="MÓDOSÍT"/>
                            <a class="mt-1 ml-1 btn btn-outline-light"
                               th:href="@{/admin/accounts}">VISSZA</a>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<object th:replace="~{layout :: scripts}"></object>
</body>
</html>
