<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:remove="body" th:replace="~{layout :: head}">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="en" http-equiv="Content-Language">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>paybasz</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
        name="viewport"/>
  <link href="favicon.ico" rel="icon">

  <meta content="no" name="msapplication-tap-highlight">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <link href="/custom-style.css" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-gray">
  <div class="app-main">
    <div th:replace="~{layout :: menu('items')}"></div>

    <div class="app-main__outer">
      <div class="app-main__inner">
        <div th:replace="~{layout :: menuMobile}"></div>
        <div class="app-header mt-lg-5">
          <div class="page-title-heading" th:if="${item == null}">
            <span class="material-icons fix-material-icons">add_box</span> Termék hozzáadása
          </div>
          <div class="page-title-heading" th:unless="${item == null}">
            <span class="material-icons fix-material-icons">create</span> Termék módosítása
          </div>
          <div class="app-header-right">

          </div>
          <div class="app-header-overlay d-none animated fadeIn"></div>
        </div>
        <div class="app-inner-layout app-inner-layout-page">

          <div class="app-inner-layout__wrapper">
            <div class="app-inner-layout__content">
              <div class="tab-content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-12 col-lg-6">
                      <div class="main-card mb-3 card">
                        <div class="card-body">
                          <h5 class="card-title">Termék</h5>
                          <form class="" method="post"
                                th:action="|/admin/${createMode ? 'create' : 'modify' }-item|">
                            <input name="id" th:unless="${item == null}"
                                   th:value="${item?.getId()}" type="hidden"/>
                            <div class="position-relative form-group"><label class=""
                                                                             for="code">Kód</label>
                              <div class="input-group">
                                <div class="input-group-prepend"><span
                                    class="input-group-text bg-light">#</span></div>
                                <input autocomplete="off" class="form-control" id="code"
                                       name="code" placeholder=""
                                       spellcheck="false" th:value="${item?.getCode()}"
                                       type="text">
                              </div>
                            </div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="name">Név</label><input
                                autocomplete="off" class="form-control" id="name"
                                name="name" placeholder=""
                                spellcheck="false" th:value="${item?.getName()}"
                                type="text"></div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="quantity">Mennyiség</label><input
                                autocomplete="off" class="form-control" id="quantity"
                                name="quantity"
                                placeholder="" spellcheck="false"
                                th:value="${item?.getQuantity()}" type="text"></div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="price">Ár</label>
                              <div class="input-group">
                                <input autocomplete="off" class="form-control"
                                       id="price" max="500000" min="0" name="price"
                                       placeholder="" spellcheck="false" step="1"
                                       th:value="${item?.getPrice() ?: 0}" type="number"
                                       value="0">
                                <div class="input-group-append"><span
                                    class="input-group-text bg-light">JMF</span>
                                </div>
                              </div>
                            </div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="abbreviation">Rövidítés</label><input
                                autocomplete="off" class="form-control"
                                id="abbreviation"
                                name="abbreviation" placeholder="" spellcheck="false"
                                th:value="${item?.getAbbreviation()}" type="text">
                            </div>
                            <input class="mt-1 btn btn-info" th:if="${createMode}"
                                   type="submit" value="HOZZÁAD"/>
                            <input class="mt-1 btn btn-info" th:unless="${createMode}"
                                   type="submit" value="MÓDOSÍT"/>
                            <a class="mt-1 ml-1 btn btn-outline-light"
                               th:href="@{/admin/items}">VISSZA</a>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<object th:replace="~{layout :: scripts}"></object>
</body>
</html>
