<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:remove="body" th:replace="~{layout :: head}">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="en" http-equiv="Content-Language">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>PayBasz</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
        name="viewport" />
  <link href="favicon.ico" rel="icon">

  <meta content="no" name="msapplication-tap-highlight">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <link href="/custom-style.css" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-gray">
  <div class="app-main">
    <div th:replace="~{layout :: menu('tokens')}"></div>

    <div class="app-main__outer">
      <div class="app-main__inner">
        <div th:replace="~{layout :: menuMobile}"></div>
        <div class="app-header mt-lg-5">
          <div class="page-title-heading">
            <span class="material-icons fix-material-icons">redeem</span> Tokenek
            <div class="page-title-subheading">
              Itt hozhatsz létre vagy módosíthatsz tokeneket.
            </div>
          </div>
          <div class="app-header-right">
          </div>
          <div class="app-header-overlay d-none animated fadeIn"></div>
        </div>
        <div class="app-inner-layout app-inner-layout-page">

          <div class="app-inner-layout__wrapper">
            <div class="app-inner-layout__content">
              <div class="tab-content">
                <div class="container-fluid">
                  <div class="text-center d-block p-3 m-2">
                    <a class="btn-pill btn-wide fsize-1 btn btn-primary"
                       th:href="@{/admin/create-token}">
                                            <span class="mr-2 opacity-7">
                                                <i class="icon"><span class="material-icons">add</span></i>
                                            </span>
                      <span class="mr-1">Token Létrehozása</span>
                    </a>
                  </div>
                  <div class="card mb-3" style="min-width: 920px">
                    <div class="card-header-tab card-header">
                      <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <span class="material-icons header-icon icon-gradient bg-love-kiss">redeem</span>
                        TOKENEK
                      </div>
                    </div>
                    <div class="card-body">
                      <table class="table table-bordered" style="width: 100%">
                        <thead>
                        <tr>
                          <th>Id</th>
                          <th>Felhasználó Id</th>
                          <th>Felhasználó</th>
                          <th>Termék Id</th>
                          <th>Termék</th>
                          <th>Mennyiség</th>
                          <th>Lehetőségek</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="token : ${itemTokens}">
                          <td th:text="${token.getItemTokenId()}"></td>
                          <td th:text="${token.getUserId()}"></td>
                          <td th:text="${token.getAccountName()}"></td>
                          <td th:text="${token.getItemId()}"></td>
                          <td th:text="${token.getItemName()}"></td>
                          <td th:text="${token.getCount()}"></td>
                          <td style="text-align: right">
                            <form method="post" style="display: inline"
                                  th:action="|@{/admin/delete-token/}${token.getItemTokenId()}|">
                              <button class="mb-2 mr-2 btn btn-danger" title="Töröl"
                                      type="submit"><span
                                class="material-icons fix-material-icons small-icons">delete</span>
                              </button>
                            </form>
                            <a class="mb-2 mr-2 btn btn-info"
                               th:href="|@{/admin/modify-token/}${token.getItemTokenId()}|"
                               title="Módosítás"><span
                              class="material-icons fix-material-icons small-icons">edit</span></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<object th:replace="~{layout :: scripts}"></object>
</body>
</html>
