<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<object th:fragment="head" th:remove="tag">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="en" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>paybasz</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport"/>
    <meta content="no" name="msapplication-tap-highlight">
    <link rel="stylesheet" th:href="@{/material-icons.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/custom-style.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
  </head>
</object>

<object th:fragment="menu (active)" th:remove="tag">
  <div class="app-sidebar-wrapper">
    <div class="app-sidebar sidebar-shadow">
      <div class="app-header__logo">
        <a class="paybasz-logo-src" data-placement="bottom" title="paybasz"><span
            class="material-icons">contactless</span><img alt="paybasz" height="42"
                                                          src="/images/logo_paybasz.png"/></a>
      </div>
      <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
          <ul class="vertical-nav-menu">
            <li class="mm-active">
              <a href="#">
                Adminisztráció
              </a>
              <ul class="mm-show">
                <li><a th:class="${active == 'analytics' ? 'mm-active' : ''}" th:href="@{/admin/}">Analitika</a>
                </li>
                <li><a th:class="${active == 'accounts' ? 'mm-active' : ''}"
                       th:href="@{/admin/accounts}">Felhasználók</a></li>
                <li><a th:class="${active == 'transactions' ? 'mm-active' : ''}"
                       th:href="@{/admin/transactions}">Tranzakciók</a>
                </li>
                <li><a th:class="${active == 'items' ? 'mm-active' : ''}" th:href="@{/admin/items}">Termékek</a>
                </li>
                <li><a th:class="${active == 'tokens' ? 'mm-active' : ''}" th:href="@{/admin/tokens}">Tokenek</a>
                </li>
                <li><a th:class="${active == 'export' ? 'mm-active' : ''}" th:href="@{/admin/export}">Exportálás</a>
                </li>
                <li><a th:class="${active == 'gateways' ? 'mm-active' : ''}"
                       th:href="@{/admin/gateways}">Terminálok</a>
                </li>
              </ul>
            </li>

            <li class="mm-active">
              <a href="#">
                Felhasználó
              </a>
              <ul class="mm-show">
                <li><a th:href="@{/logout}">Kijelentkezés</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="app-sidebar-overlay d-none animated fadeIn"></div>
</object>

<object th:fragment="menuMobile" th:remove="tag">
  <div class="header-mobile-wrapper">
    <div class="app-header__logo">
      <a class="paybasz-logo-src-mobile" data-placement="bottom" href="#" title="paybasz"><span
          class="material-icons text-light">contactless</span><img alt="paybasz" height="42"
                                                                   src="/images/logo_paybasz_mono.png"/></a>
      <button class="hamburger hamburger--elastic mobile-toggle-sidebar-nav" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
      </button>
    </div>
  </div>
</object>

<object th:fragment="scripts" th:remove="tag">
  <script src="/assets.js" type="text/javascript"></script>
</object>

</html>