<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:remove="body" th:replace="~{layout :: head}">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="en" http-equiv="Content-Language">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>paybasz</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
        name="viewport"/>
  <link href="favicon.ico" rel="icon">

  <meta content="no" name="msapplication-tap-highlight">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <link href="/custom-style.css" rel="stylesheet">
</head>
<body>

<div class="app-container app-theme-white body-tabs-shadow">
  <div class="app-container">
    <div class="h-100 bg-focus bg-animation">
      <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
          <div class="mx-auto mb-3" style="text-align: center">
            <img alt="paybasz" height="128" src="/images/logo_paybasz_home.png"/>
          </div>
          <div class="modal-dialog w-100 mx-auto">
            <div class="modal-content">
              <form class="" method="post" th:action="@{/login}">
                <div class="modal-body">
                  <div class="h5 modal-title text-center">
                    <h4 class="mt-2">
                      <div>Na csumm!</div>
                      <span>Írjad be szépen a krendetiálszt vagy nem kapsz mazsolát</span>
                      <p class="text-danger mt-3" th:if="${loginError}">Itt valami gebasz van!</p>
                    </h4>
                  </div>

                  <div class="form-row">
                    <div class="col-md-12">
                      <div class="position-relative form-group"><input autofocus="autofocus"
                                                                       class="form-control"
                                                                       id="username"
                                                                       name="username"
                                                                       placeholder="Felhasználónév"
                                                                       type="text"></div>
                    </div>
                    <div class="col-md-12">
                      <div class="position-relative form-group"><input class="form-control"
                                                                       id="password"
                                                                       name="password"
                                                                       placeholder="Jelszó"
                                                                       type="password"></div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer clearfix">
                  <div class="float-left"><a class="btn-lg btn btn-link" onclick="alert('szopó');">Hát
                    én ezt nem
                    tudom!</a></div>
                  <div class="float-right">
                    <button class="btn btn-success btn-lg">NA ZSA!</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="text-center text-white opacity-8 mt-3">pay<span class="text-success">basz</span> | <span
              class="text-secondary">Nyugtával dícsérjük a navot</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>