<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:remove="body" th:replace="~{layout :: head}">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="en" http-equiv="Content-Language">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>paybasz</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
        name="viewport"/>
  <link href="favicon.ico" rel="icon">

  <meta content="no" name="msapplication-tap-highlight">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <link href="/custom-style.css" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-gray">
  <div class="app-main">
    <div th:replace="~{layout :: menu('upload')}"></div>

    <div class="app-main__outer">
      <div class="app-main__inner">
        <div th:replace="~{layout :: menuMobile}"></div>
        <div class="app-header mt-lg-5">
          <div class="page-title-heading">
            <span class="material-icons fix-material-icons">publish</span> Egyenleg feltöltése
            <div class="page-title-subheading">
              Itt adhatsz pénz felhasználóhoz. A feltöltésről tranzakció készül, így utólag
              visszakereshető.
            </div>
          </div>
          <div class="app-header-right">

          </div>
          <div class="app-header-overlay d-none animated fadeIn"></div>
        </div>
        <div class="app-inner-layout app-inner-layout-page">

          <div class="app-inner-layout__wrapper">
            <div class="app-inner-layout__content">
              <div class="tab-content">
                <div class="container-fluid">

                  <div class="row">
                    <div class="col-sm-12 col-lg-6">
                      <div class="mb-3 card">
                        <div class="card-header-tab card-header">
                          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            <span class="material-icons icon-gradient bg-night-fade">publish</span>
                            EGYENLEG FELTÖLTÉSE
                          </div>
                        </div>
                        <div class="card-body">
                          <form class="" method="post" th:action="@{/admin/upload-money}">
                            <input name="id" th:value="${id}" type="hidden"/>
                            <div class="position-relative form-group"><label class=""
                                                                             for="name">Név</label><input
                                autocomplete="off" class="form-control" disabled
                                id="name" name="name" placeholder=""
                                spellcheck="false" th:value="${name}" type="text"></div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="money">Feltöltendő
                              összeg</label>
                              <div class="input-group">
                                <input autocomplete="off" class="form-control"
                                       id="money" min="1" name="money" placeholder=""
                                       spellcheck="false" step="1" type="number"
                                       value="2000">
                                <div class="input-group-append"><span
                                    class="input-group-text bg-light">JMF</span>
                                </div>
                              </div>
                            </div>
                            <div class="position-relative form-group"><label class=""
                                                                             for="message">Megjegyzés</label><input
                                class="form-control" id="message" name="message"
                                placeholder="" type="text"></div>

                            <input class="mt-1 btn btn-alternate" type="submit"
                                   value="KÖNYVEL"/>
                            <a class="mt-1 ml-1 btn btn-outline-light"
                               th:href="@{/admin/accounts}">VISSZA</a>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<object th:replace="~{layout :: scripts}"></object>
</body>
</html>
